<ul class="nav nav-stacked" id="sidebar">

  <li><%= link_to 'Institutional Partners', institutional_partners_path %></li>
  <li><%= link_to 'Custom Products', custom_products_path %></li>
  <li><%= link_to 'FX Products', fx_products_path %></li>
  <li><%= link_to 'Corporate Ethics', corporate_ethics_path %></li>
  <li><%= link_to 'Intro to PI', intro_to_pi_path %></li>
</ul>
