<!DOCTYPE html>
<html>
  <head>
    <title>VinquloApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i&subset=latin-ext" rel="stylesheet">
  </head>

  <nav class="navbar navbar-default vinqulo-navbar">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-2">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">
              <%= image_tag('vinqulo-logo.png', :alt => 'Vinqulo', :class => 'img-responsive vinqulo-logo') %>
          </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-collapse-2">
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to 'Home', root_path %></li>
            <li><%= link_to 'Institutional Partners', institutional_partners_path %></li>
            <li><%= link_to 'Custom Products', custom_products_path %></li>
            <li><%= link_to 'FX Products', fx_products_path %></li>
            <li><%= link_to 'Corporate Ethics', corporate_ethics_path %></li>
            <li><%= link_to 'Intro to PI', intro_to_pi_path %></li>
            <li>
              <!-- <a class="btn btn-default btn-outline btn-circle collapsed vinqulo-login"  data-toggle="collapse" href="#nav-collapse2" aria-expanded="false" aria-controls="nav-collapse2">Login</a> -->
              <%= link_to 'Login', login_path, :class => 'btn btn-default btn-outline btn-circle vinqulo-login' %>
            </li>
          </ul>
          <div class="collapse nav navbar-nav nav-collapse slide-down" id="nav-collapse2">
            <form class="navbar-form navbar-right form-inline" role="form">
              <div class="form-group">
                <label class="sr-only" for="Email">Email</label>
                <input type="email" class="form-control" id="Email" placeholder="Email" autofocus required />
              </div>
              <div class="form-group">
                <label class="sr-only" for="Password">Password</label>
                <input type="password" class="form-control" id="Password" placeholder="Password" required />
              </div>
              <button type="submit" class="btn btn-success">Sign in</button>
            </form>
          </div>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container -->
    </nav><!-- /.navbar -->

  <body>

      <section id="about_us">
          <div class="container">
          	<div class="row">
    			<div class="col-md-3" id="leftCol">



        		</div>

                <%= yield %>

            </div>
          </div>
      </section>


  <section class="footer">
      <div class="container">
          <div class="col-lg-10 about-text">
              <div class="col-lg-8">
                  Butcher beard gentrify, taxidermy literally kitsch XOXO vice. Venmo vice craft beer direct trade, readymade 8-bit actually synth mixtape poutine truffaut blog drinking vinegar. Kombucha tacos poutine, gochujang bespoke ugh iPhone. Messenger bag dreamcatcher brooklyn occupy, migas typewriter drinking vinegar church-key.
              </div>
              <ul class="col-lg-4 pull-right social">
                  <li><%= link_to 'Institutional Partners', institutional_partners_path %></li>
                  <li><%= link_to 'Custom Products', custom_products_path %></li>
                  <li><%= link_to 'FX Products', fx_products_path %></li>
                  <li><%= link_to 'Corporate Ethics', corporate_ethics_path %></li>
                  <li><%= link_to 'Intro to PI', intro_to_pi_path %></li>
                  <li><a href="mailto:abratten@mac.com">Contact Us</a></li>
              </ul>
          </div>
      </div>
  </section>

  <section id="copyright">
      <div class="container">
          <div class="col-lg-12 col-sm-12 row" id="copy">
              <span class="col-md-5">© 2016 Vinqulo, Inc</span>
          </div>
      </div>
  </section>






  <!-- Header Video Modal -->
  <div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="videoModal" aria-hidden="true">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-body">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                  <div>
                      <iframe width="100%" height="350" src=""></iframe>
                  </div>
              </div>
          </div>
      </div>
  </div>


  <!-- jQuery for Video Modal -->
  <script>
      autoPlayYouTubeModal();

      //FUNCTION TO GET AND AUTO PLAY YOUTUBE VIDEO FROM DATATAG
      function autoPlayYouTubeModal() {
          var trigger = $("body").find('[data-toggle="modal"]');
          trigger.click(function () {
              var theModal = $(this).data("target"),
                  videoSRC = $(this).attr("data-theVideo"),
                  videoSRCauto = videoSRC + "?autoplay=1";
              $(theModal + ' iframe').attr('src', videoSRCauto);
              $(theModal + ' button.close').click(function () {
                  $(theModal + ' iframe').attr('src', videoSRC);
              });
          });
      }
  </script>

  </body>
</html>
